<template>
  <v-container fluid>
    <v-form v-model="valid">
      <v-text-field
        clearable
        solo
        label="PURL"
        v-model="purl"
        :rules="rules"
      ></v-text-field>
      <v-textarea
        clearable
        auto-grow
        outlined
        label="Content"
        v-model="docContent"
      ></v-textarea>
      <v-btn
        class="mr-4"
        color="dark"
        :disabled="!valid"
        @click="submit"
        v-show="showSubmit"
        >SUBMIT</v-btn
      >
      <v-btn class="mr-5" color="dark" @click="goHome" v-show="showGoHome"
        >GO HOME</v-btn
      >
    </v-form>
    <v-alert dark dense type="success" :value="showSaveAlert" dismissible
      >Saved Document</v-alert
    >
    <v-alert dark dense type="error" :value="showErrorAlert" dismissible
      >Error occured</v-alert
    >
  </v-container>
</template>

<script>
const axios = require("axios");
export default {
  name: "CreateDocument",
  data: () => ({
    valid: false,
    showSaveAlert: false,
    showErrorAlert: false,
    showGoHome: false,
    showSubmit: true,
    existingPurl: [],
    purl: "",
    docContent: "",
  }),
  computed: {
    rules() {
      return [
        (value) => !!value || "Required",
        (value) =>
          (value && !this.existingPurl.includes(value)) || "PURL exists",
      ];
    },
  },
  methods: {
    goHome() {
      this.$router.push({ path: "/" });
    },
    async submit() {
      try {
        const x = await axios.post("http://127.0.0.1:3000/doc/" + this.purl, {
          filecontent: this.docContent,
          userid: this.$store.state.userid,
          usersig: this.$store.state.usersig,
        });
        if (x.status === 200) {
          this.showSaveAlert = true;
          this.showSubmit = false;
          this.showGoHome = true;
        }
      } catch (e) {
        this.showErrorAlert = true;
      }
    },
  },
  async mounted() {
    const existingPurlResponse = await axios.get("http://127.0.0.1:3000/docs");
    this.existingPurl = existingPurlResponse.data;
  },
};
</script>
