<template>
  <v-container fluid>
    <v-form>
      <v-text-field
        clearable
        solo
        label="PURL"
        v-model="purl"
        disabled
      ></v-text-field>
      <v-textarea
        clearable
        auto-grow
        outlined
        label="Content"
        v-model="docContent"
      ></v-textarea>
      <v-btn class="mr-5" color="dark" @click="submit" v-show="showSubmit"
        >SUBMIT</v-btn
      >
      <v-btn class="mr-5" color="dark" @click="goHome" v-show="showGoHome"
        >GO HOME</v-btn
      >
    </v-form>
    <v-alert dark dense type="success" :value="showSaveAlert" dismissible
      >Saved Document</v-alert
    >
    <v-alert dark dense type="error" :value="showErrorAlert" dismissible
      >Error occured</v-alert
    >
  </v-container>
</template>

<script>
const axios = require("axios");
export default {
  name: "EditDocument",
  data: () => ({
    docContent: "",
    showSaveAlert: false,
    showErrorAlert: false,
    showGoHome: false,
    showSubmit: true,
  }),
  computed: {
    purl: function () {
      return this.$route.params.id;
    },
  },
  methods: {
    goHome() {
      this.$router.push({ path: "/" });
    },
    async getDocContent() {
      try {
        const url = "http://127.0.0.1:3000/doc/" + this.$route.params.id;
        const response = await axios.get(url);
        this.docContent = response.data._fileContent;
      } catch (e) {
        console.log(e);
      }
    },
    async submit() {
      try {
        const x = await axios.post("http://127.0.0.1:3000/doc/" + this.purl, {
          filecontent: this.docContent,
          userid: this.$store.state.userid,
          usersig: this.$store.state.usersig,
        });

        if (x.status === 200) {
          this.showSaveAlert = true;
          this.showGoHome = true;
          this.showSubmit = false;
        }
      } catch (e) {
        this.showErrorAlert = true;
      }
    },
  },
  mounted() {
    this.getDocContent();
  },
  created() {
    try {
      const ws = new WebSocket("ws://localhost:4000/");

      ws.onopen = (event) => {
        console.log(event);
      };

      ws.onmessage = ({ data }) => {
        this.msg = data;
        console.log(this.msg);
      };
    } catch (err) {
      console.log(err);
    }
  },
};
</script>
