<template>
  <v-container fluid>
    <p class="title text-center">PURL: {{ purl }}</p>
    <v-item-group
      ><v-row class="d-flex" style="flex-direction: column">
        <v-item>
          <v-select
            solo
            label="versions"
            :items="versions"
            v-model="selectedVersion"
          ></v-select>
        </v-item>
        <v-item>
          <v-btn @click="fetchVersion">FETCH CONTENT</v-btn>
        </v-item></v-row
      >
    </v-item-group>
    <p class="text-justify mx-5 my-5">
      {{ docContent }}
    </p>
  </v-container>
</template>

<script>
const axios = require("axios");
export default {
  name: "ViewOlderVersions",
  data: () => ({
    selectedVersion: null,
    versions: [],
    docContent: "",
  }),
  computed: {
    purl() {
      return this.$route.params.id;
    },
  },

  methods: {
    async fetchVersion() {
      const versionedContentResponse = await axios.get(
        `http://127.0.0.1:3000/doc/${this.$route.params.id}/${this.selectedVersion}`
      );
      console.log(versionedContentResponse.data);
      this.docContent = versionedContentResponse.data._fileContent;
    },
  },

  async mounted() {
    const versionResponse = await axios.get(
      "http://127.0.0.1:3000/doc/" +
        this.$route.params.id +
        "/availableversions"
    );
    this.versions = versionResponse.data;
  },
};
</script>
