<template>
  <v-container fluid>
    <v-card>
      <v-card-title>{{ purl }}</v-card-title>
      <v-card-text>{{ docContent }}</v-card-text>
    </v-card>
  </v-container>
</template>
<script>
const axios = require("axios");
export default {
  name: "ViewDocument",
  data: () => ({
    docContent: "",
    connection: null,
  }),
  computed: {
    purl: function () {
      return this.$route.params.id;
    },
  },
  methods: {
    async fetchDoc() {
      try {
        const documentRequest = await axios.get(
          "http://127.0.0.1:3000/doc/" + this.$route.params.id
        );
        this.docContent = documentRequest.data._fileContent;
      } catch (err) {
        this.docContent = "Cannot display content...";
      }
    },
  },
  async mounted() {
    await this.fetchDoc();

    this.connection = new WebSocket("ws://localhost:9000");
    this.connection.onopen = function (event) {
      console.log(event);
    };
    this.connection.onmessage = function (event) {
      const redisMessage = event.data;
      const parsedMessage = JSON.parse(redisMessage);
      console.log(parsedMessage);
      console.log(this.purl);
      if (parsedMessage.PURL == this.purl) {
        this.docContent = parsedMessage.CONTENT;
      }
    }.bind(this);
  },
};
</script>
