<template>
  <v-container>
    <v-card class="mx-auto">
      <v-card-text>
        <div>ID: {{ id }}</div>
        <div class="text--primary">
          Hash : {{ hash }}<br />
          Verifier : {{ verifier }} <br />
        </div>
        <div class="my-2">
          <strong>Entries:</strong> <br />
          <v-data-table
            :headers="headers"
            :items="entries"
            class="elevation-1"
          />
        </div>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: "ProvenanceDetailer",
  props: {
    id: Number,
    hash: String,
    verifier: String,
    entries: Array,
  },
  data: () => ({
    headers: [
      { text: "Purl", value: "purl" },
      { text: "Version", value: "version" },
      { text: "Timestamp", value: "timestamp" },
      { text: "Hash", value: "hash" },
    ],
  }),
};
</script>
